body {
  padding-top: 40px;
  padding-bottom: 40px;
 
   background-color:#FFFFFF;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.panel-body {

    /*height:100%;*/
    background: blue; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  black 0%, red 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  red 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  red 0%,#ffffff 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  blue 0%,#ffffff 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  white 0%,gainsboro 300%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    font: 600 13px "Open Sans",Arial,sans-serif;
}